<launch>


  <!-- Start robot -->
  <include file="$(find fu_robot_2dnav)/launch/config/robot.launch"/>


  <!-- Start gmapping -->
  <include file="$(find fu_robot_2dnav)/launch/config/gmapping.launch"/>


  <!-- Start move_base -->
  <include file="$(find fu_robot_2dnav)/launch/config/move_base.launch"/>


</launch>
