<launch>
  <!-- Run the map server -->
  <!-- node name="map_server" pkg="map_server" type="map_server" args="$(find fu_robot_2dnav)/launch/willow-full-2008-11-26-50mm.pgm 0.05"/ -->

  <!--- Run AMCL -->
  <!-- include file="$(find amcl)/examples/amcl_omni.launch" / -->

  <!-- node pkg="fu_robot_2dnav" type="fake_odometry" name="fake_odometry" required="true"/ -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find fu_robot_2dnav)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find fu_robot_2dnav)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find fu_robot_2dnav)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find fu_robot_2dnav)/launch/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find fu_robot_2dnav)/launch/base_local_planner_params.yaml" command="load" />
  </node>

  <node pkg="costmap_2d" type="costmap_2d_markers" name="local_voxel_visualizer" >
    <remap from="/voxel_grid" to="/move_base/local_costmap/voxel_grid"/>
  </node>

  <node pkg="costmap_2d" type="costmap_2d_markers" name="global_voxel_visualizer" >
    <remap from="/voxel_grid" to="/move_base/global_costmap/voxel_grid"/>
  </node>

</launch>
