<launch>


  <!-- Start robot -->
  <include file="$(find fu_robot_2dnav)/launch/robot.launch"/>


  <!-- Start map server (providing one specific map) -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find fu_robot_2dnav)/map/office.yaml"/>


  <!-- Start AMCL -->
  <!--include file="$(find amcl)/examples/amcl_diff.launch" /-->
  <include file="$(find fu_robot_2dnav)/launch/config/amcl.launch" />


  <!-- Start move_base -->
  <include file="$(find fu_robot_2dnav)/launch/config/move_base.launch"/>


  <!-- Start rviz -->
  <node pkg="rviz" type="rviz" respawn="false" name="rviz" args="-d $(find fu_robot_2dnav)/launch/config/params/rviz.vcg"/>


</launch>
